

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; 
}

.nav {
  width: 80vw;
  position: fixed;
  display: flex;
  align-self: center;
  top: 32px;
  justify-content: center;
  border-radius: 16px;
  gap: 15px;
}

.link {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 16px;
  height: 40px;
  padding: 2px;
  transition: all 0.3s ease;
  font-weight: 900;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3), 0 2px 8px rgba(0, 0, 0, 0.2);

  
}

.activeLink {
  background-color: #000000;
  color: #fff;
  font-family: "Courier New";
}

.inActiveLink {
  color: rgb(95, 94, 94);
  background-color: #bdc3c5;
  font-family: "Courier New";
}
