

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; 
}

.nav {
  width: 80vw;
  position: fixed;
  display: flex;
  align-self: center;
  top: 32px;
  justify-content: center;
  border-radius: 16px;
  gap: 15px;
}

.link {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 16px;
  height: 40px;
  padding: 2px;
}

.activeLink {
  background-color: #000000;
  color: #fff;
  font-family: "Courier New";
}

.inActiveLink {
  color: rgb(95, 94, 94);
  background-color: #bdc3c5;
  font-family: "Courier New";
}
