
.container {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}
.allProductsContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.itemContainer {
  display: flex;
  width: 60%;
  gap: 10px;
}

.ratingWrapper {
  display: flex;
  gap: 10px;
}

.loadingStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 50vh;
}



.removeOneBtn {
  background-color: #ec6e6e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  font-size: 2rem;
  font-family: "Courier New";
  height: 56px;
}
.removeOneBtn:hover {
  background-color: #d9534f;
}
.removeOneBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
               
}

.itemQuantity {
  font-size: 2rem;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  color: #333;
  font-family: "Courier New";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageHoverEffect {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.imageHoverEffect:hover {
  transform: scale(1.1);
}

.addOneBtn {
  background-color: #8a81da;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-style: none;
  font-size: 2rem;
  font-family: "Courier New";
  height: 56px;
}
.addOneBtn:hover {
  background-color: #7a71c8;
} 
.addOneBtn:active {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.itemDesc {
  font-size: 0.8rem;
  line-height: 16px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 400;
  color: rgb(124, 124, 124);
}

.price {
  color: rgb(0, 252, 117);
  font-size: 1.5rem;
}

.imageContainer {
  transition: all 0.3s ease;
}
.imageContainer:hover {
  transform: scale(1.05);
}


@media (max-width: 1060px) {
  .container {
    align-items: center;
  }

  .itemContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .itemContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    align-items: center;
    text-align: center;
    gap: 5px;
  }
}