.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  padding-top: 50px;
}

.loadingStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.productWrapper {
  display: flex;
  flex-direction: column;
}
